# Python virtual environment
.venv/
venv/

# Secrets
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Generated schema metadata
schema.json
schema_documents.json

# Logs
*.log

# IDE files
.idea/

# Generated vector index
*.index
*.pkl

